/* ========== Variables ========== */
:root {
	--bg-col: #B1A595;
	--bg-col-dark: #A89B8A;
	--fg-col: #293132;
	--accent-col: #F9F2F1;
	--scrollbar-height: 8px;
}

/* ========== Fonts ========== */
html {
	color-scheme: light;
	font-family: "Madimi One", sans-serif, "GillSans", "GillSansMT", Calibri,
		"TrebuchetMS", sans-serif;
	font-size: 16pt;
	background-color: var(--bg-col);
	color: var(--fg-col);
}

/* ========== Layout ========== */
body {
	max-width: 50em;
	margin: 0 auto;
}

main {
	margin: 2em 0;
	padding: 1em 1.5em;
	border-radius: 1em;
	border: 4px solid var(--fg-col);
	box-sizing: content-box;
}

main > :first-child {
	margin-top: 0;
}

main > :last-child {
	margin-bottom: 0;
}

header {
	display: flex;
	padding-bottom: 0.5em;
	margin-bottom: 1em;
	border-bottom: 2px solid #444;
}

.logo-container {
	margin-left: auto;
}

.logo {
	max-width: 110px;
	height: auto;
}

/* ========== Typography ========== */
h1 {
	margin: 0;
	font-size: 2.25rem;
}

h2 {
	margin: 0 0 0.5em 0;
	font-size: 1.5em;
	color: var(--fg-col);
}

p {
	margin: 0.5em 0;
}

ul,
ol {
	margin: 0 1em 1em 1em;
	padding-left: 1.25em;
}

/* ========== Links ========== */
a:link,
a:visited {
	color: var(--accent-col);
	text-decoration: none;
	border-bottom: 1px solid var(--accent-col);
	transition: color 0.15s, border-color 0.15s;
}

a:hover,
a:focus,
a:active {
	color: var(--fg-col);
	background-color: var(--accent-col);
	border-color: var(--fg-col);
}

.a-icon {
	width: 0.8em;
	height: auto;
}

/* ========== Lists ========== */
.inline-list {
	list-style: none;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
}

.inline-list li {
	display: inline-block;
	padding: 0 1ch;
}

/* Add dividers between items */
.inline-list li + li {
	border-inline-start: 3px solid var(--fg-col);
	padding-inline-start: 1ch;
}

/* ========== Projects Section ========== */
#projects {
    text-align: left;
    font-size: 75%;
    padding-bottom: 1em;
    display: block;
    max-width: 100%;
    position: relative;
}

#projects ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: scroll;
    white-space: nowrap;
    padding: 0.25em;
    margin: 0.25em;
    list-style: none;
    gap: 1em;
}

.project-links {
    position: absolute;
    bottom: 10px;
    left: 10px;
    display: flex;
    gap: 10px;
    padding-left: 7.5px;
}

#projects h2 {
	color: #353d3e;
}

#projects ul li {
    position: relative;
    flex: 0 0 auto;
    text-align: left;
    background-color: var(--bg-col-dark);
    border-radius: 10px;
    box-shadow: 0 2px 6px rgb(41, 49, 50, 0.2);
    transition: transform 0.2s ease-in-out, box-shadow 0.4s ease-in-out;
    display: flex;
    width: 250px;
    height: 350px;
    overflow: hidden;
}

#projects figure {
	margin: 0em;
}

#projects ul li figcaption {
	padding: 0 1em;
}

#projects ul li h3,
#projects ul li p {
	overflow: hidden;
	white-space: nowrap;
}

#projects ul li:hover {
	transform: translateY(-5px);
	box-shadow: 0 4px 12px rgb(41, 49, 50, 0.5);
}

#projects ul li img {
	max-width: 100%;
	border-radius: 0px;
	opacity: 0.5;
	transition: opacity 0.2s ease-in-out;
}

#projects ul li:hover img {
	opacity: 1;
}

#projects ul li p {
	margin: 0;
	font-size: 0.8em;
}

/* Default scrollbar hidden */
#projects ul::-webkit-scrollbar {
	height: 8px; /* Thin scrollbar */
	opacity: 0; /* Hidden initially */
	transition: opacity 0.2s ease;
}

#projects ul:hover::-webkit-scrollbar {
	opacity: 1; /* Show on hover */
}

#projects ul::-webkit-scrollbar-thumb {
	background-color: rgb(41, 49, 50, 0.5);
	border-radius: 10px;
}

#projects ul::-webkit-scrollbar-track {
	background-color: rgb(41, 49, 50, 0.1);
	border-radius: 10px;
}

/* ========== Footer ========== */
footer {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	font-size: 14pt;
	text-align: center;
	margin-top: 1em;
	padding-top: 1em;
	border-top: 2px solid #444;
}
