/* Fonts */
.madimi-one-regular {
     font-family: "Madimi One", sans-serif;
     font-weight: 400;
     font-style: normal;
   }
   
/* Stylesheet */
:root{
     --bg-col:hsl(35, 11%, 55%);
     --fg-col:#293132;
     --accent-col:#BFF0D4;
}

html{
     color-scheme:light;

     font-family:'Madimi One', sans-serif, 'GillSans','GillSansMT', Calibri,'TrebuchetMS',sans-serif;
     font-size:16pt;

     background-color:var(--bg-col);
     color:var(--fg-col);
}

body{
     max-width:42em;
     margin:0 auto;
}

h1{
     margin:0;
     font-size:2.25rem;
}

h2{
     margin:0;
     font-size:1.5em;
}

h3 {
     margin:0;
     font-size: 1.1em;
}

h4 {
     margin:0em;
     margin-bottom: 2em;
     font-size: 0.6em;
}

li{
     margin-top:0.25em;
     font-size: 1em;
}

main{
     margin:2em 0;
     padding:1em 1.5em;
     border-radius:1em;
     border:4px solid var(--fg-col);
     box-sizing:content-box;
}
main>:first-child{
     margin-top:0;
}
main>:last-child{
     margin-bottom:0;
}

header{
     display:flex;

     padding-bottom:0.5em;
     margin-bottom:1em;
     border-bottom:2px dashed#444;
}

header aside img{
     height: 6em;
     margin-left: 1em;
     border-radius: 0.25em;
}

.logo-container {
     margin-left: auto;
}

.logo{
     max-width: 110px;
     height: auto;
}

#intro{
     padding-right: 15%;
}

.dashed-line {
     border-bottom:1px dashed#444;
}

.return-link {
     text-align: right;
}

footer{
     display:grid;
     grid-template-columns:1fr 1fr 1fr;

     font-size:14pt;
     text-align:center;

     margin-top:1em;
     padding-top:1em;

     border-top:2px dashed#444;
}

section{
     margin:0.5em 0;
}

p{
     margin:0.5em 0;
}

ul, ol{
     margin-top:0em;
     margin-bottom: 1em;
     margin-left: 1em;
     margin-right: 1em;
     padding-left:1.25em;
}

.listimg {
     width: 1em; /* Set the width to match the size of the text */
     height: 1em; /* Set the height to match the size of the text */
     vertical-align: middle; /* Align the image vertically with the text */
 }

a:link, a:visited{
     color:var(--accent-col);
     background-color:none;
     text-decoration:none;
     border-bottom:1px solid var(--accent-col);

     transition:0.15s;
     transition-property: color border-color;
}
a:hover, a:focus, a:active{
     color:var(--fg-col);
     background-color:var(--accent-col);
     border-color:var(--accent-col-2);
}

.a-icon{
     width:0.8em;
     height:auto;
}

.inline-list{
     list-style:none;
     display:flex;
     flex-direction:row;
     flex-wrap:wrap;

     margin:0;
     padding:0;
}
.inline-listli{
     display:inline-block;
     margin:0;
     padding-inline-end:0.5ch;
}
.inline-listli+li{
     border-inline-start:2px solid white;
     padding-inline-start:0.5ch;
}